<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h1> Hello, {{user}}!</h1>
    <p>Your Wish List:</p>
    <table>
        <thead>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
        </thead>
        {% for item in listed_items %}
        <tr>
            <td><a href='/wish_items/{{item.id}}'>{{item.name}}</a></td>
            <td>{{item.creator.name}}</td>
            <td>{{item.date_created}}</td>
            <td><a href='/removeList/{{item.id}}'>Remove from my Wishlist</td>
        </tr>
        {% endfor %}
        {% for item in my_items %}
        <tr>
            <td><a href='/wish_items/{{item.id}}'>{{item.name}}</a></td>
            <td>{{item.creator.name}}</td>
            <td>{{item.date_created}}</td>
            <td><a href='/delete/{{item.id}}'>Delete</td>
        </tr>
        {% endfor %}
    </table>

    <p>Other Users' Wish List:</p>
    <table>
        <thead>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
        </thead>
        {% for item in others_items %}
        <tr>
            <td><a href='/wish_items/{{item.id}}'>{{item.name}}</a></td>
            <td>{{item.creator.name}}</td>
            <td>{{item.date_created}}</td>
            <td><a href='/addList/{{item.id}}'>Add to my Wishlist</td>
        </tr>
        {% endfor %}
    </table>
    <a href='/logout'>Logout</a>
    <a href='/addItem'>Add Item</a>
</body>
</html>